.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  button {
    margin-top: 30px;
  }
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.game-container {
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
  :last-child > ul {
    margin-top: 30px;
  }
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
